<div class="update_user_form">
  <%= form_tag "/users/#{@user.id}/address/create", method: :post do %>

    <%= label_tag :address %>
    <%= text_field_tag :address %><br>
    <%= label_tag :city %>
    <%= text_field_tag :city %><br>
    <%= label_tag :state %>
    <%= text_field_tag :state %><br>
    <%= label_tag :zip %>
    <%= text_field_tag :zip %><br>
    <%= label_tag :address_nickname %>
    <%= text_field_tag :nickname %><br>
    <%= hidden_field_tag :user_id, current_user.id %>

    <%= submit_tag "Create Address" %>
    <% end %>
</div>
