  <h1>All Items</h1>
  <h3><%= link_to "Add New Item", "/merchant/items/new" %></h3>
<section class="grid-container">
  <% @items.each do |item| %>
    <% if item.enabled? %>
      <section class = "grid-item" id= 'item-<%=item.id%>'>
        <h2> <%=link_to item.name, "/items/#{item.id}" %> </h2>
        <section id='image-link'>
          <div>
            <%= link_to(image_tag("#{item.image}", alt: "#{item.name}"), "/items/#{item.id}") %>
          </div>
        </section>
        <p> <%= item.description %> </p>
        <p>Price: <%=number_to_currency(item.price) %> </p>
        <p>Inventory: <%= item.inventory %> </p>
        <% if item.active? %>
          <p>Active</p>
          <%= button_to "Deactivate", "/merchant/items/#{item.id}", method: :patch %>
        <% else %>
          <p>Inactive</p>
          <%= button_to "Activate", "/merchant/items/#{item.id}", method: :patch %>
        <% end %>
        <section class="delete-item-<%= item.id %>">
        <% if item.orders.empty? %>
          <%= button_to "delete", "/merchant/items/#{item.id}", method: :delete %>
        <% end %>
        <%= link_to "Create a coupon for this item", "/merchant/items/#{item.id}/coupons/new" %>
        </section>
      </section>
    <% end %>
  <% end %>
</section>
<% if Coupon.any? == true %>
<center>
  <h2>Current Offers</h2>
  <table>
  <tr>
    <th>Coupon Name:</th>
    <th>Minimum Purchase:</th>
    <th>Discount:</th>
    <th>Item:</th>
    <th>Edit:</th>
  </tr>
  <% @coupons = Coupon.where(:merchant_id == current_user.merchant_id) %>
      <% @coupons.each do |coupon|  %>
      <section class = "coupon-<%= coupon.id %>">
        <tr>
          <th><%= coupon.name %></th>
          <th><%= coupon.min_items %></th>
          <th><%= coupon.discount %>%</th>
          <th><%= Item.find(coupon.item_id).name %></th>
          <th><%=link_to "Delete", "/merchant/coupons/#{coupon.id}", method: :delete%> | <%=link_to "Edit", "/merchant/coupons/#{coupon.id}/edit"%></th>
        </tr>
      </section>
      <% end %>
    </table>
  <% end %>
</center>
